/* The code below makes the background of the header black and the font color of the title white. Change this to match what you want for your website. */
header {
    color: white;
    padding: 120px 8px;
    background-image: url("https://www.un.org/sites/un2.un.org/files/2021/08/feeling-the-heat.jpg");
    background-size: cover;
    border-radius: 20px;
    border: 4px dashed #FFFFFF;
}

body {
    font-family: courier, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #096b0e73;
}

h1 {
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 48px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;


}

h2 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 28px;
    text-decoration: underline;
    text-decoration-color: #729852;
}

.change-section {
    margin: 25px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    border-image: 1;

}

.flex-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.affect-section {
    margin: 25px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    border-image: 1;
}

.solution-section {
    margin: 25px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    border-image: 1;
    margin-right: 20px;
}

.footer {
    margin: 20px;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    text-decoration-color: #729852;
    font-size: 20px;

}

#link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    background-color: #f3e412;
    color: rgb(0, 0, 0);
    padding: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 170px;
    margin: 0 auto;
    height: 50px;
}

#link:hover {
    background-color: #45a049;
    background-color: #4CAF50;
    color: #fffefe;
    transition: background-color 1.5s ease;
    transform: scale(1.1);
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.25)

}

.change-image {
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.25);
    border: 5px dashed #45a049;

}

.change-image:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.solution-image {
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.25);
    border: 5px dashed #45a049;
}

.solution-image:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.affect-image {
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.25);
    border: 5px dashed #45a049;
}

.affect-image:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.text {
    margin-right: 20px;
    text-align: center;
    display: flex;
    flex-direction: bottom;
    font-size: 20px;
}